{{> head }}
{{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Goku</h1>
        </div>

        <div class="col-4">
            <img src="assets/images/goku.jpg" class="img-thumbnail"> 
        </div>
    </div>

{{> footer }}